<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>添加商品</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>


    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <!-- <link rel="stylesheet" th:href="@{/css/theme5.css"> -->
    <script th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>

    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="layui-fluid">
    <div class="layui-row">

        <!-- 表单 -->
        <form class="layui-form" id="updateForm">

            <!-- 隐藏主键 -->
            <input type="text" th:value="${product.id}" name="id" hidden/>

            <!-- 产品价格 -->
            <div class="layui-form-item" width="500px">
                <label for="L_productNum" class="layui-form-label">
                    <span class="x-red">*</span>价格
                </label>
                <div class="layui-input-inline" style="width: 220px">
                    <input type="text" id="L_productNum" name="productNum" required=""
                           autocomplete="off" class="layui-input" th:value="${product.productNum}" disabled
                    />
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">* 固定值不可修改，修改后，功能不可用</span>
                </div>
            </div>

            <!-- 产品名 -->
            <div class="layui-form-item">
                <label for="L_productName" class="layui-form-label">
                    <span class="x-red">*</span>产品名
                </label>
                <div class="layui-input-inline" style="width: 220px">
                    <input type="text" id="L_productName" name="name" required="" lay-verify="required"
                           autocomplete="off" class="layui-input" th:value="${product.name}"/>
                </div>
            </div>

            <!-- 产品价格 -->
            <div class="layui-form-item">
                <label for="L_price" class="layui-form-label">
                    <span class="x-red">*</span>价格
                </label>
                <div class="layui-input-inline" style="width: 220px">
                    <input type="number" id="L_price" name="price" required=""
                           autocomplete="off" class="layui-input" th:value="${product.price}"/>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">* 元/单位公斤</span>
                </div>
            </div>

            <!-- 产品描述 -->
            <div class="layui-form-item">
                <label for="L_productDesc" class="layui-form-label">
                    <span class="x-red">*</span>产品描述
                </label>
                <div class="layui-input-inline" style="width: 220px">
                                    <textarea id="L_productDesc" name="productDesc" required="" lay-verify="required"
                                              autocomplete="off" class="layui-textarea"
                                              th:text="${product.productDesc}"></textarea>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>
                </div>
            </div>

            <!-- 修改按钮 -->
            <div class="layui-form-item">
                <label for="L_productDesc" class="layui-form-label">
                </label>
                <button class="layui-btn" lay-filter="add" lay-submit="">
                    修改
                </button>
            </div>

        </form>

    </div>
</div>

</body>

<!-- 提交js -->
<script>layui.use(['form', 'layer'],
    function () {
        $ = layui.jquery;
        var form = layui.form,
            layer = layui.layer;

        <!-- 自定义验证规则 -->
        form.verify({
            nikename: function (value) {
                if (value.length < 5) {
                    return '昵称至少得5个字符啊';
                }
            },
            pass: [/(.+){6,12}$/, '密码必须6到12位'],
            repass: function (value) {
                if ($('#L_pass').val() != $('#L_repass').val()) {
                    return '两次密码不一致';
                }
            }
        });

        //监听提交
        form.on('submit(add)',
            function (data) {

                <!-- 移除 disabled -->
                $("#L_productNum").removeAttr("disabled");

                <!-- 异步提交 -->
                $.post("/product/update", $("#updateForm").serialize(), function (success) {
                    if (success.status == 200) {
                        layer.alert(success.data, {
                                icon: 6
                            },
                            function () {
                                //关闭当前frame
                                xadmin.close();

                                // 可以对父窗口进行刷新
                                xadmin.father_reload();
                            });
                    } else {
                        layer.alert(success.data, {
                                icon: 6
                            },
                            function () {
                                xadmin.close();
                                xadmin.father_reload();
                            });
                    }
                }, "json").error(
                    function (xhr, status, info) {
                        layer.alert("请求失败，请传入正确值并重新尝试", {
                            icon: 6
                        }, function () {
                            location.reload();
                        });
                    }
                );

                //监听返回值
                return false;

            }
        );

    });</script>

</html>
