<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>分配角色</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>

    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <!-- <link rel="stylesheet" th:href="@{/css/theme5.css"> -->
    <script th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="layui-fluid">
    <div class="layui-row">

        <!-- 表单  -->
        <form class="layui-form" id="createForm">

            <!-- 用户名 -->
            <div class="layui-form-item">
                <label for="L_name" class="layui-form-label">
                    <span class="x-red">*</span>用户名
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="L_name" class="layui-input" th:value="${user.username}" disabled/>
                </div>
            </div>

            <!-- 角色 -->
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="x-red">*</span>角色</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="roleNums" id="L_role" lay-skin="primary" th:title="${role.roleDesc}"
                           checked="" th:each="role : ${roles}" th:value="${role.roleNum}"
                           th:if="${user.hasRole(role)}"/>
                    <input type="checkbox" name="roleNums" lay-skin="primary" th:title="${role.roleDesc}"
                           th:each="role : ${roles}" th:value="${role.roleNum}" th:if="!${user.hasRole(role)}"/>
                </div>
            </div>

            <!-- 提交按钮 -->
            <div class="layui-form-item">
                <label for="L_role" class="layui-form-label">
                </label>
                <button class="layui-btn" lay-filter="add" lay-submit="">
                    修改
                </button>
            </div>

        </form>

    </div>
</div>
</body>

<!-- 数据验证和提交 -->
<script th:inline="javascript">

    layui.use(['form', 'layer'],
        function () {
            $ = layui.jquery;
            var form = layui.form,
                layer = layui.layer;

            <!-- 监听提交 -->
            form.on(
                'submit(add)',
                function (data) {

                    <!-- 异步提交 -->
                    $.post("/role/distribution/" + [[${user.userNum}]], $("#createForm").serialize(), function (resultInfo) {
                        switch (resultInfo.status) {
                            case 200:
                                layer.alert(resultInfo.data, function () {
                                    xadmin.close();
                                    xadmin.father_reload();
                                });
                                break;
                            case 400:
                                layer.alert(resultInfo.data, function () {
                                    xadmin.close();
                                    xadmin.father_reload();
                                });
                                break;
                            default:
                                alert("请传入正确参数");
                        }
                    }, "json").error(
                        function (xhr, status, info) {
                            layer.alert("请求失败，请传入正确值并重新尝试", {
                                icon: 6
                            }, function () {
                                location.reload();
                            });
                        }
                    );

                    return false;

                });
        });
</script>

</html>
