<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>修改用户</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>

    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <!-- <link rel="stylesheet" th:href="@{/css/theme5.css"> -->
    <script th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="layui-fluid">
    <div class="layui-row">

        <!-- 表单  -->
        <form class="layui-form" id="createForm">

            <input name="id" th:value="${user.id}" hidden="hidden"/>
            <input name="userNum" th:value="${user.userNum}" hidden="hidden"/>

            <!-- 账户 -->
            <div class="layui-form-item">
                <label for="L_username" class="layui-form-label">
                    <span class="x-red">*</span>账户
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="L_username" autocomplete="off" class="layui-input" disabled="disabled"
                           th:value="${user.username}"/>
                </div>
            </div>

            <!-- 姓名 -->
            <div class="layui-form-item">
                <label for="L_name" class="layui-form-label">
                    <span class="x-red">*</span>姓名
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="L_name" name="name" required=""
                           autocomplete="off" class="layui-input" th:value="${user.name}">
                </div>
            </div>

            <!-- 性别 -->
            <div class="layui-form-item">
                <label for="L_gender" class="layui-form-label">
                    <span class="x-red">*</span>性别
                </label>
                <div class="layui-input-inline">
                    <select name="gender" id="L_gender">
                        <option th:selected="${user.gender == 1}" value="1">男</option>
                        <option th:selected="${user.gender == 0}" value="0">女</option>
                    </select>
                </div>
            </div>

            <!-- 提交按钮 -->
            <div class="layui-form-item">
                <label for="L_gender" class="layui-form-label">
                </label>
                <button class="layui-btn" lay-filter="add" lay-submit="">
                    修改
                </button>
            </div>

        </form>

    </div>
</div>
</body>

<!-- 数据验证和提交 -->
<script>

    layui.use(['form', 'layer'],
        function () {
            $ = layui.jquery;
            var form = layui.form,
                layer = layui.layer;

            <!-- 自定义验证规则 -->
            form.verify({
                nikename: function (value) {
                    if (value.length < 5) {
                        return '昵称至少得5个字符啊';
                    }
                },
                pass: [/(.+){3,12}$/, '密码必须6到12位'],
                repass: function (value) {
                    if ($('#L_pass').val() != $('#L_repass').val()) {
                        return '两次密码不一致';
                    }
                }
            });

            <!-- 监听提交 -->
            form.on(
                'submit(add)',
                function (data) {

                    <!-- 异步提交 -->
                    $.post("/user/update", $("#createForm").serialize(), function (resultInfo) {
                        switch (resultInfo.status) {
                            case 200:
                                layer.alert(resultInfo.data, function () {
                                    xadmin.close();
                                    xadmin.father_reload();
                                });
                                break;
                            case 400:
                                layer.alert(resultInfo.data, function () {
                                    xadmin.close();
                                    xadmin.father_reload();
                                });
                                break;
                            default:
                                alert("数据错误");
                        }
                    }, "json").error(
                        function (xhr, status, info) {
                            layer.alert("请求失败，请传入正确值并重新尝试", {
                                icon: 6
                            }, function () {
                                location.reload();
                            });
                        }
                    );

                    return false;

                });
        });
</script>

</html>
