<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.realphago.springbootshiro.mapper.ProductMapper">

    <!--  分页查询  -->
    <select id="findList" resultType="product">
        select *
        from tab_product
        <where>
            <if test="addtionParamMap != null">
                <if test="addtionParamMap.status != null">
                    status = #{addtionParamMap.status}
                </if>
            </if>
        </where>
        limit #{pageBean.pageStart},#{pageBean.pageSize}
    </select>

    <!-- 查询（总记录） -->
    <select id="findTotalCount" resultType="int">
        select count(*)
        from tab_product
    </select>

    <!-- 查询（id） -->
    <select id="findElementById" resultType="product">
        select *
        from tab_product
        where id = #{id}
    </select>

    <!-- 查询（name） -->
    <select id="findElementByName" resultType="product">
        select *
        from tab_product
        where name = #{name}
    </select>

    <select id="findElementByProductNum" resultType="product">
        select *
        from tab_product
        where product_num = #{productNum}
    </select>

    <!-- 添加   -->
    <insert id="create" parameterType="product">
        insert into tab_product(id, product_num, name, product_desc, price, status)
        values(#{id}, #{productNum}, #{name}, #{productDesc}, #{price}, 0)
    </insert>

    <!-- 删除 (id)  -->
    <delete id="delete">
        delete from tab_product
        where id = #{id}
    </delete>

    <delete id="deleteAll">
        delete from tab_product
    </delete>

    <!--  修改  -->
    <update id="update" parameterType="product">
        update tab_product
        set name = #{name}, product_desc = #{productDesc}, price = #{price}, gmt_modified = CURRENT_TIMESTAMP
        where id = #{id}
    </update>

    <update id="updateStatus">
        update tab_product
        set status = #{status}, gmt_modified = CURRENT_TIMESTAMP
        where id = #{id}
    </update>

</mapper>