<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.realphago.springbootshiro.mapper.ProductSpecificationMapper">

    <!--  查询  -->

    <!--  查询  -->

    <!-- 添加   -->
    <insert id="create" parameterType="productSpecification">
        insert into tab_product_specification(productNum,specificationNum,price,specificaionDesc)
        values(#{productNum},#{specificationNum},#{price},#{specificaionDesc})
    </insert>
    <!-- 添加   -->

    <!-- 删除   -->
    <delete id="delete" parameterType="productSpecification">
        delete from tab_product_specification
        where productNum = #{productNum} and  specificationNum = #{specificationNum}
    </delete>
    <delete id="deleteByProductNum">
        delete from tab_product_specification
        where productNum = #{productNum}
    </delete>
    <!-- 删除   -->

    <!--  修改  -->
    <update id="update" parameterType="productSpecification">
        update tab_product_specification
        set (specificaionPrice, specificaionDesc, status, gmt_modified)
        values (#{specificaionPrice}, #{specificaionDesc}, #{status}, #{gmt_modified})
        where productNum = #{productNum} and  specificationNum = #{specificationNum}
    </update>
    <!--  修改  -->

    <!-- resultMap   -->

    <!-- resultMap   -->

    <!--  二次查询  -->

    <!--  二次查询  -->

</mapper>